body {
  color: #fff;
}

.card {
  background-color: black;
  position: relative;
  height: 240px;
  width: 360px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
  transition: transform 0.5s ease;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}

.card:hover {
  transform: scale(1.1);
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 140px;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
  z-index: 2;
  transition: height 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}

.card:hover .card-overlay {
  height: 480px;
}

.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  padding: 20px;
  z-index: 50;
  transition: transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}

.card-header-title {
  display: flex;
  flex-direction: row;
}

.card:hover .card-header {
  transform: translateY(-160px);
}

.card:hover .card-tag {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.1s;
}

.card-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
  margin-right: 15px;
}

.card-subtitle {
  font-size: 0.85rem;
  opacity: 0.8;
  margin-bottom: 15px;
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  transform: translateY(100%);
  transition: transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}

.card:hover .card-content {
  transform: translateY(60px);
}

.card-description {
  margin-right: 20px;
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 25px;
  opacity: 0;
  transform: translateY(20px);
  transition: transform 0.75s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}

.carousel {
  margin-left: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: transform 0.75s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}

.card:hover .carousel {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.25s;
}

.card:hover .card-description {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.25s;
}

.card-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: transform 0.75s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (min-width: 1084px) {
  .card {
    width: 500px;
  }
  .card-description {
    margin-right: 40px;
  }
}
